.contactList {
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(13, 85, 167);
  align-items: center;
}
.contactListItem {
  margin-bottom: 15px;
  display: flex;
  align-items: center;

}
.contactListBtn {
  width: 90px;
  height: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(13, 85, 167);
  border-radius: 5px;
  background-color: rgb(151 222 255 / 14%);
}

.contactListBtn:hover {
  color: #fff;
  background-color: rgb(13, 85, 167);
}
